
$blue-primary: #59ABE3;
$plumtastic: #674172;
$envygreen: #68C3A3;
$ocean-green: rgba(77, 175, 12, .08);
$light-ocean-green: rgba(77, 175, 12, .09);
$green: rgba(163, 214, 130, .5);

$hoki-blue: rgba(103, 128, 159, .08);
$black-primary: #232b2b;

$blue-dark: #2C3E50;
